<nav class="h-16 w-full fixed top-0 left-0 right-0 text-center mix-blend-difference">
    <div class="mix-blend-difference">
        <p class="mx-auto mix-blend-difference">test</p>
    </div>
</nav>
